<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ActivityMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ActivityMonitor.Properties.Settings>
            <setting name="ComPort" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ShowLog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenInput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MovementRow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TestDataFile" serializeAs="String">
                <value>testData201126.txt</value>
            </setting>
            <setting name="RawInput" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MockSerialData" serializeAs="String">
                <value>testSerialInput.txt</value>
            </setting>
            <setting name="SleepGraphVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TemperatureVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MLPredictionVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FallingThreshold" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SenderGmail" serializeAs="String">
                <value />
            </setting>
            <setting name="SenderPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ReceiverEmail" serializeAs="String">
                <value />
            </setting>
        </ActivityMonitor.Properties.Settings>
    </userSettings>
</configuration>